.header__user-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

@media screen and (max-width: 517px) {
    .header__user-info {
        width: 100vw;
        flex-direction: column;
        gap: 18px;
        padding: 40px 0;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    }
}