.auth__input {
    font-family: 'Inter', Arial, sans-serif;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    border-bottom: 2px solid #CCCCCC;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: 12px;
}

.auth__input::placeholder {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

.auth__input:-webkit-autofill {
    transition: all 5000s ease-in-out;
}